h1 {
    text-align: center;
}
    
.red-text {
    color: red;
}
    
.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.big-text {
    font-size: 30px;
}

.small-text {
    font-size: 10px;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.multiple-attributes {
    color: orange;
    font-weight: bold;
    font-size: 30px;
}

.styledFont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
    font-size: 20px;
}

#styledImage {
    border: 20px ridge lightblue;
}